DATABASE_URL="postgresql://username:password@host/database?sslmode=require"
JWT_ACCESS_SECRET="your-jwt-access-secret-at-least-32-chars"
JWT_REFRESH_SECRET="your-jwt-refresh-secret-at-least-32-chars"
CLIENT_URL="http://localhost:5173"
VITE_API_URL=""
PORT=3000
SERVER_ENV="development"
UPLOAD_DIR="uploads"
ADMIN_EMAIL="admin@aurastore.com"
ADMIN_PASSWORD="YourSecurePassword123!"
ADMIN_NAME="AuraStore Administrator"
